<div class="blog header">
  <h1 class="blog title">The Big Sur Blog</h1>
  <p class="lead blog description">Where good friends go to post regrettable things</p>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"></h3>
  </div>
  <div class="panel-body">

    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Va0ezWC2du4"></iframe>
    </div>

  </div>
</div>
