<h2>Posts</h2>

<div class="btn-group" role="group">
  <%= link_to("New Post", new_post_path) %>
</div>

<br></br>

<!-- http://getbootstrap.com/components/#thumbnails -->
<% if @posts.present? %>

    <% @posts.reverse.each do |post| %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2>
          <%= post.title %>
          </h2>
        </div>
        <div class="panel-body">
          <%= post.body %>
        </div>
        <div class="panel-footer">
          <small>
            <%= post.user.email %>
          </small>
        </div>
      </div>
    <% end %>

    <% else %>
      <div class="well">
        <p>Trip hasn't started yet</p>
      </div>
<% end %>
