<h2>New post</h2>

<%= simple_form_for @post do |f| %>
  <%= f.input :title, placeholder: 'Post Title'  %>

  <br>

  <%= f.input :body, placeholder: 'Type post here.' %>

  <br>

  <%= f.button :submit %>
<% end %>
